<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
">

    <bean id="sessionBean"
          class="com.prudnikova.SessionBean"/>
            
    <bean id="userService"
          class="com.prudnikova.onlinebanking.service.implementation.UserServiceImplementation"/>
    
    <bean id="cardService"
          class="com.prudnikova.onlinebanking.service.implementation.CardServiceImplementation"/>
    
    <bean id="statService"
              class="com.prudnikova.onlinebanking.service.implementation.StatServiceImplementation"/>

</beans>
